@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
#home{
    background-image:url(https://st.depositphotos.com/1987177/3367/v/600/depositphotos_33679631-stock-illustration-seamless-background-pet-paw-print.jpg);
    font-family: 'Indie Flower', sans-serif ;
    font-weight: 900;
}

#formulario{
    background-color: #ffffff;
    border-radius:20px;
    margin-left:60px;
    margin-right:60px;
    margin-bottom:60px;
    padding:30px;
    font-size:30px;
}

.Headline1{
    font-size:60px;
    font-weight:1200;
    color:white;
}

.guardar-cambios, .btn-iniciarSesion, .btn-registrarse {
    width: 100%;
    border-radius: 98px;
    padding: 16px;
    background: var(--color-black);
    margin-top: 24px;
}

.campo {
    margin-left: 24px;
    margin-right: 24px;
}

.edit {
    width: 327px;
    height: 48px;
    left: 0px;
    border: 1px solid #535353;
    margin: 4px 0px;
    margin-bottom: 16px;
}

.label-edit {
    margin: 0px 10px;
}

.usuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 94px;
    margin-left: 140px;
    
}

.nombre{
    color: #000000;
    margin-bottom: 8px;
    margin-top: 8px;
}
.btn-editar{
    color: #0E172C;
    margin-bottom: 24px;
}
.datos{
    padding: 0;
}

.tituloPerfil{
    margin: 48px 24px 32px 24px;
}
.o{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}


    .tituloPerfil {
        text-align: center;
        margin-top: 100px !important;
        margin-bottom: 45px;
    }
    .usuario{
        width: 100%;
        text-align: center
    }
    .formUsuario{
        text-align: -webkit-center;
    }
    .div-usuario {
        width: 80%;
        background: #000000;
        margin-left: 10%;
        border-radius: 25px;
        padding: 20px;
        margin-bottom: 20px;
    }
    input {
        width: 100% !important;
        background-color: black !important;
        border-radius: 25px !important; 
        border: 1px solid black !important;
        color: #ffffff !important;
        height: 55px !important;
    }
    .edit {
        width: 80%;
    }
    .guardar-cambios{
        margin-left: 25%;
        width: 50%;
    
    }
